.accordion-button
{
    width: 85%;
}
.accordion-header
{
    display: flex;
    align-items: center;
}
.icons
{
    margin-left: 20px;
    width: 20%;
}

.icons i {
    margin-left: 5px;
    color: gray;
}


body{
    background-color: beige !important;
    
}

a {
    text-decoration: none !important;
    
}

.fa-check
{
    color: green !important;
}
.fa-xmark
{
    color: rgb(219, 27, 27) !important;
    padding-left: 5px;
}
.fa-trash
{
    color: rgba(226, 238, 150) !important;
}
.fa-pen-to-square
{
    color: rgb(105, 233, 233) !important;
    padding-right: 5px;
}

.completed 
{
    text-decoration: line-through;
}

.fa-rotate-left
{
    color: red !important;
}
